<h1>Listing the articles</h1>
<table>
    <thead>
        <tr>
            <th> Title </th>
            <th> Description </th>
            <th> Holder </th>
        </tr>
    </thead>
    <tbody>
    <% @articles.each do |article|%>
        <tr>
            <td><%=article.title%></td>
            <td><%=article.description%></td>
            <td>Blank</td>
        </tr>
    <% end %>
    </tbody>
</table>


<br>
<a href=/articles/new>create a new one</a>