
<div class="container">
    <div class="left">
        <div class="container" style="padding: 150px 0px 0px 0px">
            <p class="text-start text-wrap fs-4 fw-light " style="width: 30rem;" >Become a valued member of our vibrant community, where every voice is heard and every idea has a place.</p>
        </div>
            <div class="container" style="padding: 30px 0px 0px 0px">
                <a href=/articles/new><button class="btn btn-success" style="background-color: darkgreen">sign in</button></a>
                
            </div>
            <div class="container" style=" padding: 50px 0px 0px 0px">
                <img src="https://diplo-media.s3.eu-central-1.amazonaws.com/2023/05/sustainable-development-goal-sdgs-concepthands-holding-global-communication-network-with-environment-icon-on-a-green-backgroundgreen-technology-and-environmental-technologyesg-stockpack-istock-scaled.jpg" height= 400 width=400; style="box-shadow: 10px 10px 10px 10px gray;">
            </div>

    </div>

    <div class="right">
        <div class="container" style="padding: 50px 0px;  width: 500px; height: 450px;">
            <img src="https://www.whistlepr.co.uk/wp-content/uploads/ESG-featured.jpg" height= 400 width= 500 style="box-shadow: 10px 10px 10px 10px gray;">
        </div >
        <div style="padding: 50px 0px ">
            <p class="text-start text-wrap fs-4 fw-light " >Hey, I am Hracho Movsisyan,
            developing MovsisyanMessage platform.</p>
            <p class="text-start text-wrap fs-6 fw-light " style="width: 30rem;" >MovsisyanMsg is  a new project, where you can create accounts, find new friends and support me to grow my app.</p>
        </div>
        <div class="container" style="padding: 0px 0px 0px 0px">
            <a href=/about><button class="btn btn-success" style="background-color: darkgreen"> read about us</button></a>
        
        </div>
    </div>
</div>
<div id="page-content">
  <div class="container" id="home-container">

  </div>
</div>
<footer id="sticky-footer" class="py-4 text-white">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>



