<h1>Home page </h1>
<p></p>
<%= link_to raw('<i class="fa-duotone fa fa-circle-info fa-lg" style="color:gray"></i>'), about_path, title:"info page"%> |
<%= link_to raw('<i class="fa-duotone fa fa-table fa-lg" style="color:gray"></i>'), articles_path %>

