

.navbar{
    background-color: rgba(255, 255, 255, 0.846) !important;
    border-bottom: 2px solid black !important;
    box-shadow: 3px 3px 3px 3px rgb(61, 130, 24)!important;
    
  }
  .container {
   height: 50px;
    
}
  .left {
    flex: 1;
    padding: 20px;
}

.right {
    flex: 1;
    padding: 20px;
}

.drop-shadow {

  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15) !important;
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15) !important;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15) !important;

}
.containerofdeveloper {


  //background-image: asset-url('myphoto.png');
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: unset;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;


}


.rounded-button {
  border-radius: 5px;
  height: 35px;
  width: 80px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: rgb(255, 255, 255);
}

#sticky-footer {
  flex-shrink: none;
  background-color: rgb(127, 147, 128);
}