

.navbar{
  background-color: rgba(255, 255, 255, 0.846) !important;
  border-bottom: 2px solid black !important;
  box-shadow: 3px 3px 3px 3px rgb(61, 130, 24)!important;

}
.container {
 height: 50%;

}
.left {
  flex: 1;
  padding: 20px;
}

.right {
  flex: 1;
  padding: 20px;
}



.rounded-button {
border-radius: 5px;
height: 35px;
width: 80px;
}

html,
body {
height: 100%;
}

#page-content {
flex: 0 0 0;
background-color: rgb(255, 255, 255);
}
.centered-button {
  text-align: center;
}


