<nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand" href=/ ><i class="fa-duo-tone fa fa-house" style="color: black"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
                <style>
                  .nav-link.disabled {
                      color: darkgreen;
                      font-size: 1.5em;
                      
                      
                  }
                </style>
            <a class="nav-link disabled" aria-disabled="page" href="#">MovsisyanMsg</a>
          </li>
          
          
        </ul>
        <ul class="navbar-nav me-left mb-2 mb-lg-0">
          <li class="nav-item">
                    <style>
                      .nav-link{
                        color:black;
                      }
                    </style>
              <a class="nav-link" href=/articles>Articles</a>
              
            </li>
            <li class="nav-item">
              <a class="nav-link me-left  ms-3 mb-lg-0" href="">My Account</a>
            </li>
          </ul>
          <ul class="navbar-nav me-left  ms-3 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About
              </a>
            
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href=/about_developer>Developer</a></li>
                <li><a class="dropdown-item" href=/about>Webpage</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="https://rubyonrails.org/" target="_blank" >Framework</a></li>
              </ul>
            </li>
          </ul>
        <a href=/articles/new > <button type="button" class="btn btn-success, me-left  ms-3 mb-lg-0", style="background-color: darkgreen; color: white">log in</button></a>

  

        </div>
      </div>
    </nav>
